visible_hostname squid
cache deny all

# Handle HTTP requests
http_port 3128
http_port 80 intercept

# Handle HTTPS requests
https_port 443 cert=/etc/squid/ssl/squid.pem ssl-bump intercept
acl SSL_port port 443
# this ACL is required for 443 intercept, but allows all https through proxy mode. Therefore, 3128 should be prohibited.
http_access allow SSL_port
acl step1 at_step SslBump1
acl step2 at_step SslBump2
acl step3 at_step SslBump3
acl tls_inspection_bypass ssl::server_name "/etc/squid/tls_inspection_bypass.txt"
ssl_bump splice step1 tls_inspection_bypass
ssl_bump splice step2 tls_inspection_bypass
ssl_bump splice step3 tls_inspection_bypass
ssl_bump peek step1 all

# Deny requests to proxy instance metadata
acl instance_metadata dst 169.254.169.254
http_access deny instance_metadata

# Filter HTTP requests based on the whitelist
acl allowed_http_sites dstdomain "/etc/squid/whitelist.txt"
http_access allow allowed_http_sites

# Filter HTTPS requests based on the whitelist
acl allowed_https_sites ssl::server_name "/etc/squid/whitelist.txt"
ssl_bump peek step2 allowed_https_sites
ssl_bump splice step3 allowed_https_sites
ssl_bump terminate step2 all

http_access deny all

# Log format and rotation
logfile_rotate 10
debug_options rotate=10
logformat custom { "clientip": "%>a", "ident": "%ui", "uname": "%un", "timestamp": "%{%FT%T%z}tg", "verb": "%rm", "request": "%ru", "httpversion": "HTTP/%rv", "response": "%>Hs", "bytes": "%<st", "referer": "%{Referer}>h", "agent": "%{User-Agent}>h", "request_status": "%Ss", "hierarchy_status": "%Sh", "ssl_sni": "%ssl::>sni", "response_time_ms": "%tr", "ssl_bump_mode": "%ssl::bump_mode", "ssl_received_supported_version": "%ssl::>received_supported_version", "ssl_negotiated_cipher": "%ssl::>negotiated_cipher", "ssl_cert_errors": "%ssl::<cert_errors", "ssl_hello_client": "%ssl::>received_hello_version","ssl_hello_server": "%ssl::<received_hello_version"  }

access_log /var/log/squid/access.log custom

# Mitigation for CVE-2025-62168 (CSAN_000889)
email_err_data off